:root {
  --dark: #161623;
  --light: #eeeeee;
  --blue: #0f5580;
  --pink-gradient: linear-gradient(#f00, #f0f);
  --blue-gradient: linear-gradient(#2196f3, #e91e63);
  --orange-gradient: linear-gradient(10deg, #ffaa00, #ff6a00);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--dark);
}
